/.settings
/target/
/web-app/WEB-INF/classes/

devDb.properties
devDb.log
devDb.script
testDb.properties
testDb.log
testDb.script

stacktrace.log

seeder.git.iml
seeder.git.ipr
seeder.git.iws
seeder.git-grailsPlugins.iml

/out
*~
