h2 {
    color:#008000;font-size:16px;font-weight:bold;margin-bottom:5px;
}

#tabs {
    margin-top:2px;
}

.head {
    color:#008000;font-size:14px;font-weight:bold;
}

.shaded {
    background:url("../images/skin/shadow.jpg") repeat-x scroll center bottom #FFFFFF;border: 1px solid #AAA
}

.border {

}
.rc {
    border-bottom-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    -moz-border-radius:4px 4px 4px 4px;
}

#profileList, #profileDetail {
    clear:both; float:left; width:600px;
}

#profileList  .profile, #profileDetail .profile {
    /*min-height:100px;background-color:#FCFCFC;border-top:1px solid;border-bottom:1px solid;border-color:#CCC;margin-bottom:2px;*/

}

#profileList .profileInfo, #profileDetail .profileInfo {
    padding-left:100px;border: 1px solid #AAA;overflow:hidden;
}

#profileList .profileData, #profileDetail .profileData {
    padding-left:5px;padding-top:0px;vertical-align:top;min-height:90px;
}

#profileList .hover {
    background-color:#F5F5F5;cursor: pointer; cursor: hand;
}

#profileList .profilePhoto ,#profileDetail .profilePhoto {
    float:left;display:inline;float:left;margin-left:-98px;margin-top:2px;margin-right:2px;margin-bottom:2px;background-color:white;border:0px;height:96px;width:96px;
}

#profileList .profileTrophies {
    height:20px;background-color:#CDCDCD;
}



#profilePerformance {
    margin-top:5px;    
}

#profilePerformance h3 {
    float:left;color:#333;font-size:25px;font-weight:bold;width:75px;text-align:center;border: 1px solid #AAA;background:url("../images/skin/shadow.jpg") repeat-x scroll center bottom #FFFFFF;margin-right:2px;
}
#profilePerformance h3 span {
    color:#008000;font-size:10px;display:block;
}

#biography p {
    padding-bottom:5px;
}