
body {
    background: #fff;color: #333;font: 11px verdana, arial, helvetica, sans-serif;
}
h1, h2 {
   color:#008000;font-weight:bold;margin-bottom:5px;
}
h1 { font-size:18px; }
h2 { font-size:16px; }
a:link, a:visited, a:hover {
    text-decoration: none;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 0;
    padding: 2px 2px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
    background-color: #fff;
}




form {
    border:1px solid #AAA;margin-top:10px;
}
form > div {
    display:block;border-left:4px solid #008000;padding-left:10px;padding-right:10px;padding-bottom:10px;padding-top:6px;
}
fieldset {
    border:1px solid #AAA;background-color:#FFF;padding-top:20px;background-color:#FCFCFC;
}
fieldset legend {
    color:#008000;font-weight:bold;margin-bottom:5px;font-size:12px;margin:0 10px;position:relative;
}
fieldset > div {
    padding-left:10px;padding:5px 0;clear:both;
}
fieldset > div.captcha {
    margin-bottom:10px;
}
#recaptcha_widget_div {
    float:left;height:150px;
}
fieldset label {
    float:left;text-align:right;width:150px;padding-right:10px;font-weight:bold;color:#666;font-size:12px;padding-top:2px
}
fieldset input {
    width:200px;font-size:12px;
}
fieldset > div.buttons {
    clear:both;text-align:right;padding:5px 20px;border-top:1px solid #EEE;margin-top:10px;background-color:#FFF;
}



div.info {
    background-image:url(../images/icon/puzzle.png); background-position:+8px +10px; background-repeat:no-repeat;
    border:1px solid #c1d0b9;background-color:#f2f8ef;padding-left:32px;padding-top:5px;padding-bottom:5px;padding-right:5px;
    border-bottom-left-radius: 4px 4px;border-bottom-right-radius: 4px 4px;border-top-left-radius: 4px 4px;border-top-right-radius: 4px 4px;-moz-border-radius:4px 4px 4px 4px;
}





#tabs {
    margin-top:2px;
}

.head {
    color:#008000;font-size:14px;font-weight:bold;
}

.shaded {
    background:url("../images/skin/region_shadow.jpg") repeat-x scroll center bottom #FFFFFF;
}

.border {

}
.rc {
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    -moz-border-radius:4px 4px 4px 4px;
}

/*************************************************
** Start navbar CSS
*************************************************/
#navbar {
    border-left: 1px solid #aaaaaa;border-bottom: 1px solid #aaaaaa;border-right: 1px solid #aaaaaa;background:url("../images/skin/region_shadow.jpg") repeat-x scroll center bottom #FFFFFF;
    border-bottom-left-radius: 4px 4px;border-bottom-right-radius: 4px 4px;-moz-border-radius:0px 0px 4px 4px;
    color:#008000;font-size: 12px;font-weight:bold;
    padding:0;z-index:11;float:right;position:relative;
}

#navbar ul.topnav {
    list-style: none;z-index:11;
}

#navbar li.hover,  #navbar li.hover > a, #navbar li.hover > span {
    color:#008000;cursor:pointer;cursor:hand;
}

#navbar li.navbar_selected {
    background-color:#DDD;
}

#navbar li {
    color:#666;display:inline-block;text-align:center;min-width:60px;z-index:11;
}
#navbar li .register {
    background:url(../images/icon/register.png) center left no-repeat;
}
#navbar li .go {
    background:url(../images/icon/go.png) center left no-repeat;
}
#navbar li .login {
    background:url(../images/icon/login.png) center left no-repeat;
}
#navbar li > a {
    color:#666;display:block;padding-top:5px;padding-bottom:5px;padding-left:18px;padding-right:10px;margin-left:10px;
}
#navbar li > span {
    color:#666;display:block;padding-top:5px;padding-bottom:5px;padding-left:18px;padding-right:18px;margin-left:10px;
}
#navbar li > span.search {
    color:#666;display:block;padding-top:3px;padding-bottom:2px;padding-left:0px;padding-right:0px;margin:0 5px;
}
#navbar li > span.search input {
    background:url(../images/icon/search.png) center right no-repeat;
}

#navbar .subnav {
    border-left: 1px solid #aaaaaa;border-bottom: 1px solid #aaaaaa;border-right: 1px solid #aaaaaa;border-top:1px solid #aaaaaa;z-index:80;
    list-style: none;
    background-color:#FFF;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    margin: 0; padding: 0;
    display: none;
    float: left;
    overflow: hidden;
    text-align: left;
    border-bottom-left-radius: 4px 4px;border-bottom-right-radius: 4px 4px;-moz-border-radius:0px 0px 4px 4px;
}
#navbar .subnav ul, #navbar .subnav a {
    margin:0;padding:0;
}
#navbar .subnav li {
    display:block;border-left:4px solid #008000;text-align:left;
}
#navBarOverlay {
    z-index:10;position:absolute;top:0;left:0;
}
/*************************************************
** End navbar CSS
*************************************************/



/*************************************************
** Start Login Menu CSS
*************************************************/
#navbarLogin #login {
    display:block;border-left:4px solid #008000;text-align:left;
}

#navbarLogin .header {
    color:#008000;font-size:14px;font-weight:bold;padding:5px 0;
}

#navbarLogin label {
    color:#666;display:block;padding-top:5px;
}

#navbarLogin input {
    
}

/*************************************************
** End Login dialog CSS
*************************************************/




#menubar {
    clear:both;
    margin-top:5px;
    margin-bottom:5px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    -moz-border-radius:8px 8px 8px 8px;
    border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(../images/skin/nav_shadow.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold;
}

#menubar li {
    display: inline;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    border-right: 1px solid #aaaaaa;
}

#profileList, #profileDetail {
    clear:both; float:left; width:600px;
}

#profileList  .profile, #profileDetail .profile {
    /*min-height:100px;background-color:#FCFCFC;border-top:1px solid;border-bottom:1px solid;border-color:#CCC;margin-bottom:2px;*/

}





#profileList .profileInfo, #profileDetail .profileInfo {
    padding-left:100px;border: 1px solid #AAA;overflow:hidden;
}

#profileList .profileData, #profileDetail .profileData {
    padding-left:5px;padding-top:0px;vertical-align:top;min-height:90px;
}

#profileList .hover {
    background-color:#F5F5F5;cursor: pointer; cursor: hand;
}

#profileList .profilePhoto ,#profileDetail .profilePhoto {
    float:left;display:inline;float:left;margin-left:-98px;margin-top:2px;margin-right:2px;margin-bottom:2px;background-color:white;border:0px;height:96px;width:96px;
}

#profileList .profileTrophies {
    height:20px;background-color:#CDCDCD;
}



#profilePerformance {
    margin-top:5px;    
}

#profilePerformance h3 {
    float:left;color:#333;font-size:25px;font-weight:bold;width:75px;text-align:center;border: 1px solid #AAA;background:url("../images/skin/region_shadow.jpg") repeat-x scroll center bottom #FFFFFF;margin-right:2px;
}

#profilePerformance .hover {
    background:none;background-color:#CCC;cursor: pointer; cursor: hand;
}
#profilePerformance h3 span {
    color:#008000;font-size:10px;display:block;
}

#biography p {
    padding-bottom:5px;
}